* {
  box-sizing: border-box;
}

p {
  margin: .3em 0;
}

h1 {
  font-size: 25px;
  margin-top: 0;
}

h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: normal;
}

a {
  color: green;
  text-decoration: none;
  border-bottom: 1px solid;
}

p,
li {
  color: #666;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
}

.jobs strong {
  color: #000;
  font-weight: bold;
}

